/* MEDIA QUERY MANAGER
$breakpoint arguement choices:
  - mobile
  - desktop
*/
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: $mobile-width) {
      @content;
    } // <835px
  }
  @if $breakpoint == mobile-650 {
    @media only screen and (max-width: 650px) {
      @content;
    } // <650px
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: $mobile-width) {
      @content;
    } // >835px
  }
}

@mixin themeLight() {
  $text-color: $background-color;
  $text-color-active: $background-color-hover;
  $primary-color: $background-color-light;
  $primary-color-hover: $background-color-light-hover;
  $secondary-color: $background-secondary-light-color;
  $secondary-color-hover: $background-secondary-light-hover-color;
}

@mixin themeDark() {
  $text-color: $background-secondary-light-color;
  $text-color-active: $background-secondary-light-hover-color;
  $primary-color: $background-color;
  $primary-color-hover: $background-color-hover;
  $secondary-color: $background-secondary-color;
  $secondary-color-hover: $background-secondary-hover-color;
}
