<mat-sidenav-container class="home">
  <mat-sidenav #vcSidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="!mobileQuery.matches" [fixedTopGap]="mobileQuery.matches ? 52 : 0"
               class="home__menu">
    <mat-nav-list>
      <perfect-scrollbar>
        <div class="home__menu__container">
          <div>
            <div class="home__menu__container__item"
                 *ngFor="let item of menuItems"
                 [routerLink]="item.route"
                 (click)="actionEvent(item.action)" matRipple>
              <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
              <h5 *ngIf="item.label">{{item.label | translate}}</h5>
            </div>
          </div>
          <vc-footer></vc-footer>
        </div>
      </perfect-scrollbar>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="home__content">
    <perfect-scrollbar>
      <router-outlet></router-outlet>
    </perfect-scrollbar>
  </mat-sidenav-content>
</mat-sidenav-container>
