@import "00_base/base";

.member {
  width: 100%;
  padding: $padding-medium;
  box-shadow: $box-shadow--mini;
  transition: box-shadow 250ms;
  display: flex;
  margin: 1rem 0;
  border-radius: $border-radius;
  background-color: $primary-color;

  &:hover {
    box-shadow: $box-shadow;
  }

  &__monogram {
    margin: 0.6rem 0;
  }

  &__text {
    padding: 0 1rem;
    overflow: hidden;
    width: calc(100% - 7rem);

    &__name , &__email {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0.5rem;
    }
  }

  &__delete {
    margin: 1rem 0;
  }
}
