<div class="notification">
  <div
    *ngFor="let notification of (notifications$ | async); let i = index"
    (mouseenter)="hover(i)"
    [class]="
      'notification__container notification__container--' + notification.status
    "
  >
    <svg-icon
      class="notification__container__icon"
      [src]="'/assets/images/svg/' + notification.status + '.svg'"
      [applyCss]="true"
    ></svg-icon>
    <span
      class="notification__container__message"
      [innerHTML]="notification.text | translate"
    ></span>
    <div
      (click)="remove(i)"
      class="notification__container__close svg-icon"
      mat-ripple
    >
      <svg-icon
        src="/assets/images/icons/mini-x-1.svg"
        [applyCss]="true"
      ></svg-icon>
    </div>
  </div>
</div>
