<div class="notification">
  <div
    *ngFor="let notification of (notifications$ | async); let i = index"
    (mouseenter)="hover(i)"
    [class]="
      'notification__container notification__container--' + notification.status
    "
  >
    <mat-icon>notification.status</mat-icon>
    <span
      class="notification__container__message"
      [innerHTML]="notification.text | translate"
    ></span>
    <div
      (click)="remove(i)"
      class="notification__container__close svg-icon"
      mat-ripple
    >
      <mat-icon>close</mat-icon>
    </div>
  </div>
</div>
