@import "00_base/base";

:host {
  max-width: 600px;
  display: block;
  margin: auto;
  padding: 2rem 0;
}

.group-edit {
  width: 100%;
  display: block;
  height: auto;

  .block {
    padding: 0;
    @include respond(mobile) {
      padding: 0 1rem;
    }
  }
}
