button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  @include default-font;
  font-size: $text-size;

  @include respond(mobile) {
    font-size: $text-size-mobile;
  }
}

.vc-btn {
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: $box-shadow--mini;
  opacity: 1;
  text-transform: uppercase;
  transition: box-shadow 250ms, opacity 250ms;

  &:disabled {
    opacity: 0.5;
    cursor: auto;
    box-shadow: none !important;
    &:hover {
      box-shadow: none !important;
    }
  }
  &:hover {
    box-shadow: $box-shadow !important;
  }


  &--primary, &--secondary {
    padding: 0.75rem 1.5rem;
  }

  &--primary {
    border: none;
    background-color: $text-color;
    color: $secondary-color;
    span {
      color: $secondary-color;
    }
  }

  &--secondary {
    border: 2px solid $text-color;
    background-color: transparent;
    color: $text-color;
    span {
      color: $text-color;
    }
  }

  &--icon {
    width: 32px;
    height: 32px;
    background: $secondary-color;
    box-shadow: $box-shadow--mini;

  }

  &--dark {
    background-color: $primary-color !important;
    color: $text-color !important;
  }
}
