.mat-dialog {
  border-radius: $border-radius;
  max-width: 500px;
  min-width: 90vw;
  height: auto;
  max-height: 90vh;
  background-color: $secondary-color;
  padding: $padding-big;
  @include respond(mobile) {
    padding: $padding-big-mobile;
  }
}
