@import "00_base/base";
@import "01_components/components";
@import "02_layouts/layouts";

html {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;

  body {
    box-sizing: border-box;
    background-color: $secondary-color;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transition: color 250ms, background-color 250ms, border 250ms;

    @include respond(desktop) {
      --padding-big: 2rem;
      --padding-medium: 1rem;
      --padding-small: 0.5rem;
    }
    @include respond(mobile) {
      --padding-big: 1.5rem;
      --padding-medium: 0.8rem;
      --padding-small: 0.4rem;
    }

    * {
      box-sizing: border-box;
      transition: color 250ms, background-color 250ms, border 250ms;
    }
  }
}
