<div class="block">
  <h2 class="block__title">{{'LBL_AUTHORIZATION.REGISTRATION' | translate}}</h2>
  <form [formGroup]="registrationForm.form()"
        class="block__form" (ngSubmit)="registerUser()">
    <vc-text-input
      inputType="email"
      placeholder="LBL_INPUT.PLACEHOLDER.EMAIL"
      [control]="registrationForm.get('email')"
      class="block__form__input"
    ></vc-text-input>
    <vc-text-input
      placeholder="LBL_INPUT.PLACEHOLDER.NAME"
      [control]="registrationForm.get('name')"
      class="block__form__input"
    ></vc-text-input>
    <vc-date-input
      placeholder="LBL_INPUT.PLACEHOLDER.BIRTH_DATE"
      [max]="maxDate"
      [min]="minDate"
      [control]="registrationForm.get('birthDate')"
      class="block__form__input"
    ></vc-date-input>
    <vc-select-input
      placeholder="LBL_INPUT.PLACEHOLDER.SEX"
      [control]="registrationForm.get('sex')"
      [options]="sexOptions"
      class="block__form__input"
    ></vc-select-input>
    <vc-text-input
      inputType="password"
      placeholder="LBL_INPUT.PLACEHOLDER.PIN"
      [control]="registrationForm.get('pin')"
      class="block__form__input"
      disableAutocomplete
    ></vc-text-input>
    <vc-text-input
      inputType="password"
      placeholder="LBL_INPUT.PLACEHOLDER.PIN_VERIFICATION"
      [control]="registrationForm.get('pinVerification')"
      class="block__form__input"
      disableAutocomplete
    ></vc-text-input>
    <span *ngIf="isPinInvalid$ | async" class="mt-1 mb-1 text-bold text-center text-error">{{'LBL_INPUT.ERROR.PIN_MATCH' | translate}}</span>
    <vc-button
      [disabled]="!registrationForm.valid() || (isPinInvalid$ | async)"
      class="block__form__button"
      text="LBL_AUTHORIZATION.REGISTRATION"
      inputType="submit"></vc-button>
  </form>
</div>
