html {
  --text-color: #FFFF;
  --text-color-active: #f1f1f1;
  --primary-color: #33474f;
  --primary-color-hover: #2c4048;
  --secondary-color: #506f7a;
  --secondary-color-hover: #496772;
}

$text-color: var(--text-color);
$text-color-active: var(--text-color-active);
$primary-color: var(--primary-color);
$primary-color-hover: var(--primary-color-hover);
$secondary-color: var(--secondary-color);
$secondary-color-hover: var(--secondary-color-hover);
$scroll-color:#3e535b;
$scroll-color-hover:#3c4f57;

// Notification colors
$danger-color: #d0021b;
$danger-color-hover: #c20018;
$success-color: #00b416;
$success-color-hover: #00a815;
$warning-color: #f18700;
$warning-color-hover: #df7d00;
$info-color: #02a1e2;
$info-color-hover: #0292ce;
$notification-color: #ffffff;
$notification-color-hover: #eaeaea;
