//Background colors
$background-color: #33474f;
$background-color-hover: #2c4048;
$background-secondary-color: #506f7a;
$background-secondary-hover-color: #496772;
$background-color-light: $background-secondary-color;
$background-color-light-hover: $background-secondary-hover-color;
$background-secondary-light-color: #ffffff;
$background-secondary-light-hover-color: #f1f1f1;

$text-color: $background-secondary-light-color;
$text-color-active: $background-secondary-light-hover-color;
$primary-color: $background-color;
$primary-color-hover: $background-color-hover;
$secondary-color: $background-secondary-color;
$secondary-color-hover: $background-secondary-hover-color;
$scroll-color:#3e535b;
$scroll-color-hover:#3c4f57;

// Notification colors
$danger-color: #d0021b;
$danger-color-hover: #c20018;
$success-color: #00b416;
$success-color-hover: #00a815;
$warning-color: #f18700;
$warning-color-hover: #df7d00;
$info-color: #02a1e2;
$info-color-hover: #0292ce;
$notification-color: #ffffff;
$notification-color-hover: #eaeaea;
