$input-btn-padding-y: 0.625rem;
$input-btn-padding-x: 1rem;
$input-btn-line-height: 1.25;
$input-btn-padding-y-sm: 0.625rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-line-height-sm: 1.25;
$input-btn-padding-y-lg: 0.625rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-line-height-lg: 1.25;

$button-mobile-height: 1.875rem;

$mobile-width: 835px;
$desktop-width: 1024px;

/*PAGE LAYOUT*/
$desktop-layout-width: 98vw;
$mobile-layout-width: 100vw;
$header-height: 84px;
