// BOX SHADOWS
$box-shadow--mini: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
$box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.25);

//RADIUS
$border-radius: 15px;
$border-radius-small: 12px;

// PADDINGS
$padding-big: var(--padding-big);
$padding-medium: var(--padding-medium);
$padding-small: var(--padding-small);
