  <div class="block">
  <h2 class="block__title">{{'LBL_AUTHORIZATION.LOGIN' | translate}}</h2>
  <form *ngIf="!(isLoginSuccess$ | async); else verification" [formGroup]="loginForm.form()"
        (ngSubmit)="login()"
        class="block__form">
    <vc-text-input
      inputType="email"
      placeholder="LBL_INPUT.PLACEHOLDER.EMAIL"
      [control]="loginForm.get('email')"
      class="block__form__input"
    ></vc-text-input>
    <vc-text-input
      inputType="password"
      placeholder="LBL_INPUT.PLACEHOLDER.PIN"
      [control]="loginForm.get('pin')"
      class="block__form__input"
    ></vc-text-input>
    <vc-button
      class="block__form__button"
      text="LBL_AUTHORIZATION.LOGIN"
      [disabled]="!loginForm.valid() || (isLoading$ | async)"
      inputType="submit"></vc-button>
  </form>
</div>
<ng-template #verification>
  <h4 class="block__subtitle">{{'LBL_AUTHORIZATION.VERIFICATION' | translate}}</h4>
  <form class="block__form" [formGroup]="verificationForm.form()" (ngSubmit)="verifyToken()">
    <vc-text-input
      inputType="password"
      placeholder="LBL_INPUT.PLACEHOLDER.VERIFICATION_CODE"
      [control]="verificationForm.get('token')"
      class="block__form__input"
    ></vc-text-input>
    <vc-button
      class="block__form__button"
      text="LBL_AUTHORIZATION.VERIFY"
      [disabled]="!verificationForm.valid() || (isLoading$ | async)"
      inputType="submit"></vc-button>
  </form>
</ng-template>
